Integration Webhooks.blueprint.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3243444,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "declencheur"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11684909
            },
            "mapper": {
                "base": "appS94jIIo1aBVNbN",
                "table": "tblVvasBqJkPKPbuG",
                "fields": [
                    "ID",
                    "Video File",
                    "Video URL",
                    "Email",
                    "Status",
                    "Transcript",
                    "Clip Link",
                    "Post_LinkedIn",
                    "Post_X",
                    "Instagram_Caption",
                    "Notes",
                    "created_at",
                    "update",
                    "Transcriptid"
                ],
                "formula": "{Transcriptid} = \"{{1.transcript_id}}\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Alchimist"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Analyses"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "ID",
                                "Video File",
                                "Video URL",
                                "Email",
                                "Status",
                                "Transcript",
                                "Clip Link",
                                "Post_LinkedIn",
                                "Post_X",
                                "Instagram_Caption",
                                "Notes",
                                "created_at",
                                "update",
                                "Transcriptid"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Video File",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Video File"
                    },
                    {
                        "name": "Video URL",
                        "type": "text",
                        "label": "Video URL"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Transcript",
                        "type": "text",
                        "label": "Transcript",
                        "multiline": true
                    },
                    {
                        "name": "Clip Link",
                        "type": "text",
                        "label": "Clip Link"
                    },
                    {
                        "name": "Post_LinkedIn",
                        "type": "text",
                        "label": "Post_LinkedIn",
                        "multiline": true
                    },
                    {
                        "name": "Post_X",
                        "type": "text",
                        "label": "Post_X",
                        "multiline": true
                    },
                    {
                        "name": "Instagram_Caption",
                        "type": "text",
                        "label": "Instagram_Caption",
                        "multiline": true
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "created_at"
                    },
                    {
                        "name": "update",
                        "type": "date",
                        "label": "update"
                    },
                    {
                        "name": "Transcriptid",
                        "type": "text",
                        "label": "Transcriptid"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "assembly-ai:GetTranscriptSentences",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11727691
            },
            "mapper": {
                "id": "{{1.transcript_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "assembly-ai"
                            },
                            "label": "My AssemblyAI connection (fc845...)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:assembly-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uuid",
                        "label": "Transcript ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uuid",
                        "label": "Transcript ID",
                        "required": true
                    },
                    {
                        "name": "confidence",
                        "type": "number",
                        "label": "Confidence",
                        "required": true,
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "audio_duration",
                        "type": "number",
                        "label": "Audio Duration",
                        "required": true
                    },
                    {
                        "name": "sentences",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text",
                                    "required": true
                                },
                                {
                                    "name": "start",
                                    "type": "integer",
                                    "label": "Start",
                                    "required": true
                                },
                                {
                                    "name": "end",
                                    "type": "integer",
                                    "label": "End",
                                    "required": true
                                },
                                {
                                    "name": "confidence",
                                    "type": "number",
                                    "label": "Confidence",
                                    "required": true,
                                    "validate": {
                                        "max": 1,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "words",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "confidence",
                                                "type": "number",
                                                "label": "Confidence",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "start",
                                                "type": "integer",
                                                "label": "Start",
                                                "required": true
                                            },
                                            {
                                                "name": "end",
                                                "type": "integer",
                                                "label": "End",
                                                "required": true
                                            },
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text",
                                                "required": true
                                            },
                                            {
                                                "help": "The speaker of the sentence if [Speaker Diarization](https://www.assemblyai.com/docs/models/speaker-diarization) is enabled, else null",
                                                "name": "speaker",
                                                "type": "text",
                                                "label": "Speaker",
                                                "required": false
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Words",
                                    "required": true
                                },
                                {
                                    "help": "The speaker of the sentence if [Speaker Diarization](https://www.assemblyai.com/docs/models/speaker-diarization) is enabled, else null",
                                    "name": "speaker",
                                    "type": "text",
                                    "label": "Speaker",
                                    "required": false
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Sentences",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11665096
            },
            "mapper": {
                "model": "o4-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "assistant",
                        "content": "Tu es un assistant spécialisé en contenu vidéo. Ton objectif est d'analyser une liste JSON de phrases et de retourner STRICTEMENT un JSON array de 3 objets. Chaque objet doit contenir les clés suivantes : 'start_s' (temps de début en secondes), 'end_s' (temps de fin en secondes), 'summary' (un résumé du clip), 'linkedin' (un post accrochant  pour LinkedIn), 'x' (un post choquant  pour X) et 'instagram' (un post attractif  pour Instagram). Les clips doivent avoir une durée comprise entre 15 et 45 secondes et capturer les moments clés du discours (punchlines, appels à l'action ou émotions fortes). Réponds seulement avec le JSON, sans texte ni explication."
                    },
                    {
                        "role": "user",
                        "content": "{{6.sentences}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "4000",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o4-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "edit"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 436924
            },
            "mapper": {
                "json": "{{7.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "clips_list"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "start_s",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "end_s",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "summary",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "linkedin",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "x",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "instagram",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11684909
            },
            "mapper": {
                "id": "{{4.id}}",
                "base": "appS94jIIo1aBVNbN",
                "table": "tblVvasBqJkPKPbuG",
                "record": {
                    "fldNT8lTFpVdVPm1W": "{{8.end_s}}",
                    "fldcv7LmQQoQvzJ29": "{{8.start_s}}",
                    "flde5PEO7bGlYOu6q": "{{8.x}}",
                    "fldghYycXQZisYvXW": "{{8.linkedin}}",
                    "fldmOPmhBkuhCdzqn": "{{8.instagram}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Alchimist"
                        },
                        "table": {
                            "label": "Analyses"
                        },
                        "record": {
                            "nested": {
                                "fld9tg4nnEs4TAirZ": {
                                    "mode": "edit"
                                },
                                "fldhu4gsE8CJTOy3K": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldhu4gsE8CJTOy3K",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Video File"
                            },
                            {
                                "name": "fldzha4qzgLE4p9pL",
                                "type": "text",
                                "label": "Video URL"
                            },
                            {
                                "name": "fldsbjUlxaDaO8uJu",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "mode": "edit",
                                "name": "fld9tg4nnEs4TAirZ",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldQQENjYykv7rAfm",
                                "type": "text",
                                "label": "Transcript"
                            },
                            {
                                "name": "fldgsxURxxSWekUEn",
                                "type": "text",
                                "label": "Clip Link"
                            },
                            {
                                "name": "fldghYycXQZisYvXW",
                                "type": "text",
                                "label": "Post_LinkedIn"
                            },
                            {
                                "name": "flde5PEO7bGlYOu6q",
                                "type": "text",
                                "label": "Post_X"
                            },
                            {
                                "name": "fldmOPmhBkuhCdzqn",
                                "type": "text",
                                "label": "Instagram_Caption"
                            },
                            {
                                "name": "fld54QIXIeHkNao88",
                                "type": "text",
                                "label": "Notes"
                            },
                            {
                                "name": "fldh1mfacJW3MOUaZ",
                                "type": "text",
                                "label": "Transcriptid"
                            },
                            {
                                "name": "fldcv7LmQQoQvzJ29",
                                "type": "number",
                                "label": "Clip1_Start"
                            },
                            {
                                "name": "fldNT8lTFpVdVPm1W",
                                "type": "number",
                                "label": "Clip1_End"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Video File",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Video File"
                    },
                    {
                        "name": "Video URL",
                        "type": "text",
                        "label": "Video URL"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Transcript",
                        "type": "text",
                        "label": "Transcript",
                        "multiline": true
                    },
                    {
                        "name": "Clip Link",
                        "type": "text",
                        "label": "Clip Link"
                    },
                    {
                        "name": "Post_LinkedIn",
                        "type": "text",
                        "label": "Post_LinkedIn",
                        "multiline": true
                    },
                    {
                        "name": "Post_X",
                        "type": "text",
                        "label": "Post_X",
                        "multiline": true
                    },
                    {
                        "name": "Instagram_Caption",
                        "type": "text",
                        "label": "Instagram_Caption",
                        "multiline": true
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "created_at"
                    },
                    {
                        "name": "update",
                        "type": "date",
                        "label": "update"
                    },
                    {
                        "name": "Transcriptid",
                        "type": "text",
                        "label": "Transcriptid"
                    },
                    {
                        "name": "Clip1_Start",
                        "type": "number",
                        "label": "Clip1_Start"
                    },
                    {
                        "name": "Clip1_End",
                        "type": "number",
                        "label": "Clip1_End"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "dropbox:getFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 11742629
            },
            "mapper": {
                "path": "/Alchimist/Cunk - evolution.mp4",
                "select": "file"
            },
            "metadata": {
                "designer": {
                    "x": 1898,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Select a file"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (nourredinediallo@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "path",
                        "type": "file",
                        "label": "File",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "google-cloud-storage:objectsInsert",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11772356
            },
            "mapper": {
                "data": "{{33.data}}",
                "name": "{{33.fileName}}",
                "bucket": "alchimistvid",
                "projectId": "sparkflow-469109",
                "uploadType": "media"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "bucket": {
                            "mode": "edit"
                        },
                        "projectId": {
                            "mode": "chose",
                            "label": "Sparkflow"
                        },
                        "uploadType": {
                            "mode": "chose",
                            "label": "Simple upload"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-custom"
                            },
                            "label": "My Google Custom connection (nourredinediallo@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-custom",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "projectId",
                        "type": "select",
                        "label": "Project ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "text",
                        "label": "Content Type"
                    },
                    {
                        "name": "uploadType",
                        "type": "select",
                        "label": "Upload Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "media",
                                "resumable"
                            ]
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "bucket",
                        "type": "select",
                        "label": "Bucket",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 32,
            "module": "google-cloud-storage:objectAccessControlsInsert",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11772356
            },
            "mapper": {
                "role": "READER",
                "bucket": "alchimistvid",
                "entity": "allUsers",
                "object": "{{31.name}}",
                "projectId": "sparkflow-469109"
            },
            "metadata": {
                "designer": {
                    "x": 2692,
                    "y": -16
                },
                "restore": {
                    "expect": {
                        "role": {
                            "mode": "chose",
                            "label": "READER"
                        },
                        "bucket": {
                            "mode": "chose",
                            "label": "alchimistvid"
                        },
                        "object": {
                            "mode": "edit"
                        },
                        "projectId": {
                            "mode": "chose",
                            "label": "Sparkflow"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-custom"
                            },
                            "label": "My Google Custom connection (nourredinediallo@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-custom",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "projectId",
                        "type": "select",
                        "label": "Project ID",
                        "required": true
                    },
                    {
                        "name": "entity",
                        "type": "text",
                        "label": "Entity"
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "validate": {
                            "enum": [
                                "OWNER",
                                "READER"
                            ]
                        }
                    },
                    {
                        "name": "generation",
                        "type": "number",
                        "label": "Generation"
                    },
                    {
                        "name": "userProject",
                        "type": "text",
                        "label": "User Project"
                    },
                    {
                        "name": "bucket",
                        "type": "select",
                        "label": "Bucket",
                        "required": true
                    },
                    {
                        "name": "object",
                        "type": "select",
                        "label": "Object",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "The kind of item this is. For object access control entries, this is always *storage#objectAccessControl*.",
                        "name": "kind",
                        "type": "text",
                        "label": "Kind",
                        "default": "storage#objectAccessControl"
                    },
                    {
                        "help": "The ID of the access-control entry.",
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "help": "The link to this access-control entry.",
                        "name": "selfLink",
                        "type": "text",
                        "label": "Self Link"
                    },
                    {
                        "help": "The name of the bucket.",
                        "name": "bucket",
                        "type": "text",
                        "label": "Bucket"
                    },
                    {
                        "help": "The name of the object, if applied to an object.",
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "help": "The content generation of the object, if applied to an object.",
                        "name": "generation",
                        "type": "number",
                        "label": "Generation"
                    },
                    {
                        "help": "The entity holding the permission, in forms listed [here](https://cloud.google.com/storage/docs/json_api/v1/objectAccessControls/#entity).",
                        "name": "entity",
                        "type": "text",
                        "label": "Entity"
                    },
                    {
                        "help": "The access permission for the entity. ",
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "options": [
                            {
                                "label": "OWNER",
                                "value": "OWNER"
                            },
                            {
                                "label": "READER",
                                "value": "READER"
                            }
                        ]
                    },
                    {
                        "help": "The email address associated with the entity, if any.",
                        "name": "email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "help": "The ID for the entity, if any.",
                        "name": "entityId",
                        "type": "text",
                        "label": "Entity ID"
                    },
                    {
                        "help": "The domain associated with the entity, if any.",
                        "name": "domain",
                        "type": "text",
                        "label": "Domain"
                    },
                    {
                        "help": "The project team associated with the entity, if any.",
                        "name": "projectTeam",
                        "spec": [
                            {
                                "help": "The project number.",
                                "name": "projectNumber",
                                "type": "text",
                                "label": "Project Number"
                            },
                            {
                                "help": "The team.",
                                "name": "team",
                                "type": "select",
                                "label": "Team",
                                "options": [
                                    {
                                        "label": "editors",
                                        "value": "editors"
                                    },
                                    {
                                        "label": "owners",
                                        "value": "owners"
                                    },
                                    {
                                        "label": "viewers",
                                        "value": "viewers"
                                    }
                                ]
                            }
                        ],
                        "type": "collection",
                        "label": "Project Team"
                    },
                    {
                        "help": "HTTP 1.1 [Entity tag](https://tools.ietf.org/html/rfc7232#section-2.3) for the access-control entry.",
                        "name": "etag",
                        "type": "text",
                        "label": "Etag"
                    }
                ]
            }
        },
        {
            "id": 34,
            "module": "creatomate:RenderTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11748575
            },
            "mapper": {
                "template_id": "22a519a0-4e78-4001-a819-52f0677d27c9",
                "modifications": {
                    "Text-1.text": "cunk video ",
                    "Text-2.text": "test",
                    "Text-3.text": "Learn how to get started on the Guides & Tutorials page on Creatomate's home page.",
                    "Text-4.text": "Use the template editor to completely customize this video to meet your own needs. 🚀",
                    "Background-1.source": "https://storage.googleapis.com/alchimistvid/Cunk%20-%20evolution.mp4",
                    "Background-3.source": "https://creatomate.com/files/assets/4f6963a5-7286-450b-bc64-f87a3a1d8964",
                    "Background-4.source": "https://creatomate.com/files/assets/36899eae-a128-43e6-9e97-f2076f54ea18"
                }
            },
            "metadata": {
                "designer": {
                    "x": 3427,
                    "y": -14
                },
                "restore": {
                    "expect": {
                        "template_id": {
                            "mode": "chose",
                            "label": "Storytelling Video"
                        },
                        "modifications": {
                            "nested": {
                                "Music.source": {
                                    "empty": true
                                },
                                "Background-2.source": {
                                    "empty": true
                                }
                            }
                        },
                        "extra_modifications": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "creatomate"
                            },
                            "label": "My Creatomate connection (Default Project)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:creatomate",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "template_id",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "modifications",
                        "spec": [
                            {
                                "name": "Music.source",
                                "type": "text",
                                "label": "Music"
                            },
                            {
                                "name": "Background-1.source",
                                "type": "text",
                                "label": "Background-1"
                            },
                            {
                                "name": "Text-1.text",
                                "type": "text",
                                "label": "Text-1"
                            },
                            {
                                "name": "Background-2.source",
                                "type": "text",
                                "label": "Background-2"
                            },
                            {
                                "name": "Text-2.text",
                                "type": "text",
                                "label": "Text-2"
                            },
                            {
                                "name": "Background-3.source",
                                "type": "text",
                                "label": "Background-3"
                            },
                            {
                                "name": "Text-3.text",
                                "type": "text",
                                "label": "Text-3"
                            },
                            {
                                "name": "Background-4.source",
                                "type": "text",
                                "label": "Background-4"
                            },
                            {
                                "name": "Text-4.text",
                                "type": "text",
                                "label": "Text-4"
                            }
                        ],
                        "type": "collection",
                        "label": "Modifications",
                        "required": true
                    },
                    {
                        "name": "extra_modifications",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Attribute",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Extra Modifications"
                    },
                    {
                        "name": "render_scale",
                        "type": "number",
                        "label": "Render Scale"
                    },
                    {
                        "name": "metadata",
                        "type": "text",
                        "label": "Metadata"
                    },
                    {
                        "name": "webhook_url",
                        "type": "text",
                        "label": "Webhook URL"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11684909
            },
            "mapper": {
                "id": "{{4.id}}",
                "base": "appS94jIIo1aBVNbN",
                "table": "tblVvasBqJkPKPbuG",
                "record": {
                    "fld9tg4nnEs4TAirZ": "Terminé",
                    "fldgsxURxxSWekUEn": "{{34.url}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 3727,
                    "y": -14
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Alchimist"
                        },
                        "table": {
                            "label": "Analyses"
                        },
                        "record": {
                            "nested": {
                                "fld9tg4nnEs4TAirZ": {
                                    "mode": "edit"
                                },
                                "fldhu4gsE8CJTOy3K": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldhu4gsE8CJTOy3K",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Video File"
                            },
                            {
                                "name": "fldzha4qzgLE4p9pL",
                                "type": "text",
                                "label": "Video URL"
                            },
                            {
                                "name": "fldsbjUlxaDaO8uJu",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "mode": "edit",
                                "name": "fld9tg4nnEs4TAirZ",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldQQENjYykv7rAfm",
                                "type": "text",
                                "label": "Transcript"
                            },
                            {
                                "name": "fldgsxURxxSWekUEn",
                                "type": "text",
                                "label": "Clip Link"
                            },
                            {
                                "name": "fldghYycXQZisYvXW",
                                "type": "text",
                                "label": "Post_LinkedIn"
                            },
                            {
                                "name": "flde5PEO7bGlYOu6q",
                                "type": "text",
                                "label": "Post_X"
                            },
                            {
                                "name": "fldmOPmhBkuhCdzqn",
                                "type": "text",
                                "label": "Instagram_Caption"
                            },
                            {
                                "name": "fld54QIXIeHkNao88",
                                "type": "text",
                                "label": "Notes"
                            },
                            {
                                "name": "fldh1mfacJW3MOUaZ",
                                "type": "text",
                                "label": "Transcriptid"
                            },
                            {
                                "name": "fldcv7LmQQoQvzJ29",
                                "type": "number",
                                "label": "Clip1_Start"
                            },
                            {
                                "name": "fldNT8lTFpVdVPm1W",
                                "type": "number",
                                "label": "Clip1_End"
                            },
                            {
                                "name": "fld6wN2AeUf7a5iAM",
                                "type": "text",
                                "label": "Public_Video_URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Video File",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Video File"
                    },
                    {
                        "name": "Video URL",
                        "type": "text",
                        "label": "Video URL"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Transcript",
                        "type": "text",
                        "label": "Transcript",
                        "multiline": true
                    },
                    {
                        "name": "Clip Link",
                        "type": "text",
                        "label": "Clip Link"
                    },
                    {
                        "name": "Post_LinkedIn",
                        "type": "text",
                        "label": "Post_LinkedIn",
                        "multiline": true
                    },
                    {
                        "name": "Post_X",
                        "type": "text",
                        "label": "Post_X",
                        "multiline": true
                    },
                    {
                        "name": "Instagram_Caption",
                        "type": "text",
                        "label": "Instagram_Caption",
                        "multiline": true
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "created_at"
                    },
                    {
                        "name": "update",
                        "type": "date",
                        "label": "update"
                    },
                    {
                        "name": "Transcriptid",
                        "type": "text",
                        "label": "Transcriptid"
                    },
                    {
                        "name": "Clip1_Start",
                        "type": "number",
                        "label": "Clip1_Start"
                    },
                    {
                        "name": "Clip1_End",
                        "type": "number",
                        "label": "Clip1_End"
                    },
                    {
                        "name": "Public_Video_URL",
                        "type": "text",
                        "label": "Public_Video_URL"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}